<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>

<h1>Users list</h1>
<br/><br/>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Link</th>
    </tr>
    <tr th:each:="user: ${userList}">
        <td th:utext="${user.id}">..</td>
        <td th:utext="${user.userName}">..</td>
        <td><a th:href="@{/users/{id}(id=${user.getId()})" th:text="getNamedLink()">link</a></td>
    </tr>

</table>
<br/>
<hr/>
<a th:href="/users/newUser">Add new User</a>

<br/>

</body>
</html>